.delete_box {
    margin-top: 35px;
}

.delete_box h1 {
    text-align: center;
    font-size: 30px;
}

.form_group {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.mat_form {
    width: 55%;
}

.mat-error {
    text-align: center;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: rgb(255, 180, 20) !important;
}
  
::ng-deep.mat-form-field-underline {
    background-color: rgb(255, 180, 20) !important;
} 
  
::ng-deep.mat-form-field-ripple {
    background-color: rgb(255, 180, 20) !important;;
}

.hide_button {
    font-size: 20px;
    border: 0;
    cursor: pointer;
}

.hide_button:focus {
    outline: 0;
    cursor: pointer;
}

.delete_button {
    width: 60%;
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
    background-color: rgb(255, 180, 20);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
}

.delete_button:hover {
    background-color: rgb(255, 160, 0);
    cursor: pointer;
}

.delete_button:focus {
    outline: 0;
    cursor: pointer;
}