.horizontal_box {
    margin-top: -100px;
    height: 100px;
    background-color: rgba(179, 46, 32, 1);
}

.horizontal_box:hover {
    height: 100px;
    background-color: rgba(179, 46, 32, 1);
}

.menu_box {
    margin: auto;
    height: 100px;
    width: 50.1%;
}

.menu_box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu_box li {
    float: left;
    display: inline;
    background-color: rgba(179, 46, 32, 1);
    font-size: 20px;
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu_box li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.menu_box li a:hover, li a:active {
    color: rgb(255, 200, 50);
    border-bottom: 5px solid rgb(255, 200, 50);
    cursor: pointer;
}

.menu_box .logo a {
    width: 65px;
    height: 65px;
    margin-top: -43px;
    margin-right: -30px;
    background-image: url('src/assets/images/logo.ico');
    background-repeat: no-repeat;
}

.menu_box .logo a:hover, .menu_box .logo a:active {
    border-bottom: 0px solid rgb(255, 200, 50);
    cursor: pointer;
}

.menu_box .profile {
    width: 210px;
}

.menu_box .profile a {
    padding: 6px 20px;
    text-align: right;
}

.menu_box .profile a img {
    border-radius: 50%;
    vertical-align: middle;
}

.menu_box .profile ul {
    padding-right: 0px;
}

.menu_box .profile ul a {
    text-align: right;
    padding-top: 15px;
    padding-bottom: 20px;
}

.menu_box li:hover > ul {
    display: block;
}

.menu_box li > ul {
    display: none;
    background-color: rgba(179, 46, 32, 1);
}

.menu_box li > ul a {
    text-align: right;
    margin-top: 10px;
    padding-left: 20px;
    background-color: rgba(179, 46, 32, 1);
}

.main_box {
    display: block;
    position: static;
    left: 0;
    width: 100%;
    height: 92.3vh;
    background-color: rgba(70, 70, 70, 1); 
}

.center_box {
    display: block;
    position: static;
    width: 49%;
    height: 92.3vh;
    margin-left: 25%;
    margin-right: 24%;
    background-color: rgba(245, 245, 245, 1); 
}

.help_box {
    position: static;
    width: 100%;
    height: 200px;
}

.vertical_box {
    position: static;
    vertical-align:top;
    display: inline-block;
    width: 25%;
    height: 70vh;
    margin-left: 50px;
    text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 0px black;
}

.vertical_box ul {
    list-style-type: none;
}

.vertical_box ul h1 {
    text-align: left;
    font-size: 25px;
    padding-top: 20px;
}
  
.vertical_box li a {
    text-decoration: none;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: #000;
    font-size: 17px;
}
  
.vertical_box li a:hover, .vertical_box li a:active {
    border-bottom: 0px solid;
    background-color: #555;
    color: white;
    cursor: pointer;
}

.data_box {
    position: static;
    vertical-align:top;
    display: inline-block;
    width: 60%;
    height: 70vh;
    margin-left: 100px;
    text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 0px black;
}