<div class="horizontal_box">
    <nav class="menu_box">
        <ul>
            <li class="logo"><a routerLink="**" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></a></li>
            <li><a routerLink="" routerLinkActive="active">FILMY</a></li>
            <li><a routerLink="" routerLinkActive="active">GRY</a></li>
            <li style="float:right"><a routerLink="/account/registration" routerLinkActive="active">Dołącz do nas</a></li>
            <li style="float:right"><a routerLink="/account/login" routerLinkActive="active">Zaloguj się</a></li>
        </ul>
    </nav>
</div>

<div class="main_box">
    <div class="color_box">
        <div class="center_box">
            <div class="form_box">
                <p>ZALOGUJ SIĘ NA KONTO</p>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form_group">
                        <mat-form-field appearance="fill" class="mat_form">
                            <mat-label>E-mail lub nazwa użytkownika</mat-label>
                            <input matInput formControlName="emailOrUserName" autocomplete="off">
                            <mat-error *ngIf="f.emailOrUserName.invalid">Proszę wpisać e-mail</mat-error>
                         </mat-form-field>
                    </div>
                    <div class="form_group">
                        <mat-form-field appearance="fill" class="mat_form">
                            <mat-label>Hasło</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
                            <button class="hide_button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="f.password.invalid">Proszę wpisać hasło</mat-error>
                        </mat-form-field>
                    </div>    
                    <button [disabled]="loading" class="login-button">
                        Zaloguj się
                    </button>
                    <button routerLink="../registration" class="register-button">
                        Załóż nowe konto
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
