<div class="horizontal_box">
    <nav class="menu_box">
        <ul>
            <li class="logo"><a routerLink="**" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></a></li>
            <li><a routerLink="" routerLinkActive="active">FILMY</a></li>
            <li><a routerLink="" routerLinkActive="active">GRY</a></li>
            <li *ngIf="!isLoggedIn" style="float:right"><a routerLink="/account/registration" routerLinkActive="active">Dołącz do nas</a></li>
            <li *ngIf="!isLoggedIn" style="float:right"><a routerLink="/account/login" routerLinkActive="active">Zaloguj się</a></li>
            <li class="profile" *ngIf="isLoggedIn" style="float:right"><a><img *ngIf='profileImage' [src]='profileImage' width="37px" height="37px"> {{username}}</a>
                <ul>
                    <a class="profileElement" routerLink="/account/profile" routerLinkActive="active">Profil</a>
                    <a class="profileElement" routerLink="/library" routerLinkActive="active">Biblioteka</a>
                    <a class="profileElement" (click)="logout()">Wyloguj się</a>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>