<div class="horizontal_box">
    <nav class="menu_box">
        <div class="logo_box">
            <a routerLink="**" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/logo/logo.png" width="95px" height="115px"></a>
        </div>
        <div class="nav_box">
            <form class="form_box">
                <mat-form-field class="field_box" appearance="outline" (click)="openSearchTab()">
                    <mat-label class="field_label"><fa-icon [icon]="faSearch"></fa-icon> {{'app.search' | translate}}</mat-label>
                    <input class="field_input" matInput aria-label="Element">
                </mat-form-field>
                <div class="language_box">
                    <a class="flag_box" (click)="polishLanguage('pl')"><img src="assets/images/icons/poland_icon.png" width="42px" height="42px"></a>
                    <a class="flag_box" (click)="englishLanguage('en')"><img src="assets/images/icons/unitedkingdom_icon.png" width="40px" height="40px"></a>
                </div>
            </form>
            <ul>
                <li class="vertical_menu"><a>&nbsp;&nbsp;&nbsp;{{'app.movies' | translate}} <fa-icon [icon]="faAngleDown"></fa-icon></a>
                    <ul>
                        <a class="vertical_element" routerLink="/movies" routerLinkActive="active">{{'app.all_movies' | translate}}</a>
                        <a class="vertical_element" routerLink="/popularmovies" routerLinkActive="active">{{'app.popular_movies' | translate}}</a>
                        <a class="vertical_element" routerLink="/topmovies" routerLinkActive="active">{{'app.top_movies' | translate}}</a>
                        <a class="vertical_element" routerLink="/upcomingmovies" routerLinkActive="active">{{'app.upcoming_movies' | translate}}</a>
                    </ul>
                </li>
                <li class="vertical_menu"><a>&nbsp;&nbsp;&nbsp;{{'app.games' | translate}} <fa-icon [icon]="faAngleDown"></fa-icon></a>
                    <ul>
                        <a class="vertical_element" routerLink="/games" routerLinkActive="active">{{'app.all_games' | translate}}</a>
                        <a class="vertical_element" routerLink="/topgames" routerLinkActive="active">{{'app.top_games' | translate}}</a>
                        <a class="vertical_element" routerLink="/upcominggames" routerLinkActive="active">{{'app.upcoming_games' | translate}}</a>
                    </ul>
                </li>
                <li *ngIf="!isLoggedIn" style="float: right;"><a routerLink="/account/login" routerLinkActive="active">{{'app.login' | translate}}</a></li>
                <li class="profile_menu" *ngIf="isLoggedIn" style="float: right;"><a><img *ngIf='profileImage' [src]='profileImage' width="42px" height="42px"> &nbsp;{{username}}</a>
                    <ul>
                        <a class="profile_element" routerLink="/account/profile" routerLinkActive="active" style="text-align: right;">{{'app.profile' | translate}}</a>
                        <a class="profile_element" routerLink="/library/selection" routerLinkActive="active" style="text-align: right;">{{'app.library' | translate}}</a>
                        <a class="profile_element" (click)="logout()" style="text-align: right;">{{'app.logout' | translate}}</a>
                    </ul>
                </li>
            </ul>  
        </div>
    </nav>
</div>
<div *ngIf="searchTab" class="search_box">
    <form [formGroup]="searchForm" class="search_form">
        <div class="search_input_box">
            <mat-form-field class="search_mat_form" appearance="outline">
                <input matInput formControlName="query" autocomplete="off" spellcheck="false" placeholder="{{'app.search' | translate}}..." class="search_input">
            </mat-form-field>
            <div class="button_box_search">
                <button class="button_search" (click)="search()">{{'app.search' | translate}}</button>
                <button class="button_search" (click)="openSearchTab()">{{'app.back' | translate}}</button> 
            </div>
        </div>
        <div *ngIf="searchMovies" class="element_list">
            <div class="element_box_search" *ngFor="let movie of searchMovies" (click)="routeToMovie(movie.movieId)">
                <div class="poster_box"><img alr [src]="createMovieImagePath(movie.posterImage)" width="120" height="180"/></div>
                <h1>{{movie.title}}</h1>
                <h3>{{movie.releaseDate | slice:0:4}}</h3>
                <h2><fa-icon [icon]="faStar" style="color: rgb(255, 200, 50)"></fa-icon> {{movie.voteAverage | number:'1.1'}}</h2>
                <h4><fa-icon [icon]="faEye" style="color: rgb(255, 200, 50);position: relative;"></fa-icon> {{movie.voteCount | number}}</h4>
            </div>
        </div>
        <div *ngIf="searchGames" class="element_list">
            <div class="element_box_search" *ngFor="let game of searchGames" (click)="routeToGame(game.gameId)">
                <div class="poster_box"><img alr [src]="createGameImagePath(game.posterImageURL)" width="120" height="180"/></div>
                <h1>{{game.title}}</h1>
                <h3>{{game.releaseDate | slice:0:4}}</h3>
                <h2><fa-icon [icon]="faStar" style="color: rgb(255, 200, 50)"></fa-icon> {{game.voteAverage | number:'1.1-1'}}</h2>
                <h4 *ngIf="game"><fa-icon [icon]="faEye" style="color: rgb(255, 200, 50);position: relative;"></fa-icon> {{game.voteCount | number}}</h4>
            </div>
        </div>
    </form>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>