.horizontal_box {
    background: linear-gradient(rgba(179, 46, 32, 0.6), rgba(179, 46, 32, 0.0));
    transition: background-color 0.5s
}

.horizontal_box:hover {
    background-color: rgba(179, 46, 32, 1);
}

.menu_box {
    margin: auto;
    height: 100px;
    width: 50.1%;
}

.form_box {
    position: absolute;
    width: 35%;
    margin-left: 136px;
}

.field_box {
    width: 100%;
}

.field_label {
    color: white;
    font-size: 23px;
}

.field_input {
    color: white;
    font-size: 23px;
}

::ng-deep.mat-form-field-underline {
    display: none;
}

.option_box {
    height: 120px;
    margin-top: 10px;
}

.element_box {
    font-size: 18px;
}

.element_box span {
    margin-left: 20px;
}

.element_box small {
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: inline;
    font-size: 22px;
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover, li a:active {
    color: rgb(255, 200, 50);
    border-bottom: 5px solid rgb(255, 200, 50);
    cursor: pointer;
}

.logo a {
    width: 100px;
    height: 100px;
    margin-top: -43px;
    margin-right: -30px;
    background-image: url('src/assets/images/logo.ico');
    background-repeat: no-repeat;
}

.logo a:hover, .logo a:active {
    border-bottom: 0px solid rgb(255, 200, 50);
    cursor: pointer;
}

.profile {
    width: 210px;
}

.profile a {
    padding: 6px 20px;
    text-align: right;
}

.profile a img {
    border-radius: 50%;
    vertical-align: middle;
}

.profile ul {
    padding-right: 0px;
}

.profile ul a {
    text-align: right;
    padding-top: 15px;
    padding-bottom: 20px;
}

li:hover > ul {
    display: block;
}

li > ul {
    display: none;
    background-color: rgba(179, 46, 32, 1);
}

li > ul a {
    text-align: right;
    margin-top: 10px;
    padding-left: 20px;
    background-color: rgba(179, 46, 32, 1);
}

.example::-webkit-scrollbar {
    display: none;
}