<div class="delete_box">
    <h1>{{'profile.delete_info' | translate}}</h1>
    <form [formGroup]="deleteForm" (ngSubmit)="delete()">
        <div class="form_group">
            <mat-form-field appearance="fill" class="mat_form">
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
                <button class="hide_button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="invalidPassword == 'Empty Password!'">{{'profile.password_empty' | translate}}</mat-error>
                <mat-error *ngIf="invalidPassword == 'Wrong Password!'">{{'profile.password_wrong' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <button class="delete_button">
            {{'profile.delete' | translate}}
        </button>
    </form>
</div>
